# Основные зависимости (проверенные версии)
streamlit==1.32.2  # Более стабильная версия
numpy==1.23.5  # Совместим с pandas 2.0.3
numexpr==2.8.4  # Рабочая версия для этой связки

# Дополнительные зависимости
stripe==5.5.0  # Стабильная версия
wikipedia==1.4.0
plotly==5.18.0
matplotlib==3.7.1  # Совместимая версия
python-dateutil==2.8.2
pytz==2023.3.post1
setuptools==68.2.2 